body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background:linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  background:linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #FFD700;
}

main {
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #4A90E2;
  background-image:linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #68b4ff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background: #4A90E2;
  color: white;
}

footer {
  text-align: center;
  background: #f0f0f0;
  padding: 10px;
  margin-top: 30px;
  color: #555;
}

.message, .success-box, .error-box {
  max-width: 400px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.success-box {
  background: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
}

.error-box {
  background: #F8D7DA;
  color: #721C24;
  border: 1px solid #F5C6CB;
}

.message {
  font-weight: bold;
  color: #333;
}
